.detail_img {
    float: left;
    margin-left: 4rem;
    width: 24rem;
}
.detail_content{
    margin-top: 9rem;
    display: inline-block;
    font-size: 3rem;
    width: 60%;
}
.detail_prce{
    margin-right: 23rem;
    font-size: 3rem;
    color: darkcyan;
    text-decoration: underline;
}

.detail_buttons{
    display: inline-block;
}
.top{
    margin-top: 9rem;
}

.button-addC{
    background-color: #8c40e0;
    color: white;
    padding: 10px;
    display: inline-block;
}

.button-Ab{
    display: inline-block;
    padding: 10px;
    background-color:salmon;
}

.detail-c {
    display: block;
    font-size: 20px;
   margin-left: 80rem; 
    margin-right: 3rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 10px;
    color: white;
    background-color: blueviolet;
    border-radius: 6px;
}